services:
  db-service:
    container_name: mariadb-service-container
    image: mariadb:10.10.5
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    volumes:
        - ./db_data:/var/lib/mysql
    ports:
      - "3306:3306"
    expose:
      - "3306"
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: practice_spring_boot
      MYSQL_USER: saiful_sohel
      MYSQL_PASSWORD: 123456
      SERVICE_TAGS: dev
      SERVICE_NAME: mariadb-service
    networks:
      - api-network

  api-service:
    container_name: spring-boot-service-container
    image: api-service:v1
    build: .
    restart: always
    ports:
      - "8080:8080"
    expose:
      - "8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mariadb://db-service:3306/practice_spring_boot
      SPRING_DATASOURCE_USERNAME: 'saiful_sohel'
      SPRING_DATASOURCE_PASSWORD: '123456'
      SERVICE_TAGS: dev
      SERVICE_NAME: spring_boot_service
    depends_on:
      - db-service
    networks:
      - api-network

networks:
    api-network:
        driver: bridge

